<style type="text/css" id="vbulletin_yuiupload_css">

#upload_controls_yui {
	position:relative;
	text-align:left;
}

#yui_clearlist, #yui_uploadfiles, #yui_selectfilestext {
	padding:2px;
	/*text-align:center;*/
	/*border:1px solid #808080;*/
	white-space:nowrap;
	/*background-color:#ABCDEF;*/
	cursor:pointer;
}


#yui_basicupload {
	text-decoration:underline;
	cursor:pointer;
	position:absolute;
	right:0;
	bottom:0;
	font-size:11px;
}

.displayinline {
	display:-moz-inline-box;
	display:inline-block;
	*display:inline;
	zoom:1;
}

#yui_uploadfiles {
	margin:0 4px;
}

#yui_selectfiles {
	position:absolute;
	width:10px;
	height:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.yui_selectfiles_hover {
	background-color:rgb(255,255,200);
	color:rgb(255, 153, 0);
}


.yui_controls {
	text-align:center;
/*	height:19px;*/
	width:400px; /* Damn you IE6/7 */
	position:relative;
}

/*
#yui_clearlist:hover, #yui_uploadfiles:hover, #yui_selectfiles:hover {
	border:1px solid red;
}
*/

.cke_skin_kama .cke_dialog_contents #uploadprogress_container * {
	color:#3E3E3E;
}

.cke_skin_kama .cke_dialog_contents #uploadprogress_container,
#uploadprogress_container {
	background:#FFFFFF none   ;
	color:#3E3E3E;
	width:400px;
	height:115px;
	border:1px solid #808080;
	text-align:left;
	overflow:auto;
}

#fileheader {
	float:left;
}

#sizeheader {
	float:left;
	margin-left:275px;
	overflow:hidden;
}

#uploadprogress_container li {
	padding:3px;
	border-bottom:solid 1px #CCCCCC;
	font:11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	background: url(uploadprogress.gif) repeat-y -400px 0;
	height:16px;
}
.uploadprogress_container ul, .uploadprogress_container li {
	clear:both;
}
#uploadprogress_container .name, #uploadprogress_container .size, #uploadprogress_container .delete {
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
#uploadprogress_container .name {
	width:275px;
}

#uploadprogress_container .size {
	width:60px;
	text-align:right;
}

#uploadprogress_container .delete {
	width:40px;
	text-align:right;
}

.cke_skin_kama .cke_dialog_contents #uploadprogress_container .delete button,
#uploadprogress_container .delete button {
	border: 1px solid #a8a8a8;
	color: #FFFFFF;
	background:#009191 url(images/gradients/generic_button.png) repeat-x top left;
	padding-bottom:1px;
	width:13px;
	height:14px;
	font-weight:bold;
	cursor:pointer;
	font-size:9px;
	vertical-align:middle;
	margin-right:2px;
}

.cke_skin_kama .cke_dialog_contents #uploadprogress_container .delete button:hover,
#uploadprogress_container .delete button:hover	{
	background:#efefef url(images/gradients/generic_button.png) repeat-x  ;
	color: rgb(0, 102, 102);
}

#uploadprogress_container .delete img	{
	vertical-align:middle;
}

.cke_skin_kama .cke_dialog_contents .uploadprogress_footer * {
	color:#3E3E3E;
}

.cke_skin_kama .cke_dialog_contents .uploadprogress_footer,
.uploadprogress_footer	{
	background:#E9E9E9 none   ;
	color:#3E3E3E;
	margin-bottom:8px;
	padding:4px;
	border:1px solid #808080;
	border-top:0;
	width:392px;
}

.uploadprogress_footer .totalsize {
	float:right;
}

#yui_progressbar_container {
	width:400px;
	height:16px;
	border:1px outset #808080;
	text-align:left;
}

#yui_progressbar {
	background-color:#64A7EB;
	height:16px;
	width:0;
}

.yui_controls .button {
	padding: 2.5px 5px;
	font:   bold 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
	border:1px solid #a8a8a8;
	/*border-bottom: 1px solid #e0e0e0;*/
	color:#FFFFFF;
	background:#009191 url(images/gradients/generic_button.png) repeat-x top left;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

.button:hover {
	background: #efefef url(images/gradients/generic_button.png) repeat-x  ;
	color: #FFFFFF;
}


</style>